html {
scroll-behavior:smooth;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1440px;
  background-color: #fbfbfb94;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content-wrapper {
  width: 1100px;
  margin: 0 auto;
}

.site-logo {
  margin-top: 45px;
  float: left;
}

.main-menu {
  margin-top: 45px;
  float:right;

}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline;
  margin-right: 28px;
}

.main-menu a {
  text-decoration: none;
  padding: 15px 10px;
  color: #fff;
  transition: 0.4s;
}

.list-btn a {
  padding: 15px 0;
}

.main-menu a:hover {
  color: #e2e2e2;
}

.main-menu li:last-of-type {
  margin-right: 0;
}

.list-element::after {
  content:"▼";
  color: #fff;
  font-size: 7pt;
  padding-left: 5px;
  vertical-align: middle;
}

.list-element {
  padding: 10px;
  position: relative;
  color: #fff;
}

.list-element:hover > ul {
  display: block;
  position: absolute;
  left: 0;
  background-color: #e3e3e3;
}

.list-element ul li {
  display: block;
  padding: 20px 0;
  margin-right: 0;
  border-bottom: 2px solid #ccc;
  transition: 0.3s;
}

.list-element ul li:hover {
  background-color: #d0d0d0;
}

.list-element ul a {
  padding: 20px;
  color: #000;
}


.list-element ul a:hover {
  color: #000;
}

.list-element:hover > ul li {
  white-space: nowrap;
}

.main-menu li ul {
  display: none;
}

.button {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  transition: 0.6s;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
    outline: 0!important;
}

.button-free {
  padding: 12px 35px;
  background-color: rgba(255,255,255, 0.3);
}

.button-sign-in {
  border: 2px solid white;
  padding: 10px 30px;
  background-color: transparent;
}

.button-free:hover{
  background-color: rgba(255,255,255, 0.2);

}

.button-sign-in:hover {
  border: 2px solid rgba(255,255,255, 0.8);;
  background-color: rgba(255,255,255, 0.2);
}

.button-sign-in:focus,
.button-free:focus {
  outline: 0!important;
  background-color: rgba(255,255,255, 0.4);;
}

.main-header {
  min-height: 900px;
  background-color: #1090F3;
  background-image: url("img/bg.svg");
  background-repeat: no-repeat;

  background-position: center top;
  background-size: cover;
}

.header-info {
  display: flex;
  margin-top: 105px;
  justify-content: space-between;
}

.header-content {
  color: #fff;
  width: 470px;
}

.header-content h1 {
  margin: 0;
  margin-bottom: 40px;
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
}

.header-content span {
  display: block;
  margin-top: 75px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.75);
}

.header-content p {
  line-height: 200%;
}

.header-illustration {
  width: 740px;
  margin-right: -100px;
  height: auto;
}

.btn-header-info {
  margin-top: 55px;
  padding: 16px 48px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.btn-header-info:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.rank-section {
  display: flex;
  position: relative;
  justify-content: space-between;
  min-height: 830px;
}

.rank-description {
  width: 445px;
  margin-top: 200px;
}

.rank-section img{
  position: absolute;
  right: 0;
  top: 150px;
}

.rank-section span {
  color: #7F7F7F;
  font-size: 24px;
}

.rank-section p {
  margin: 32px 0;
  color: #7F7F7F;
  font-weight: 400;
  font-size: 16px;
}


h2 {
  line-height: 150%;
  font-size: 38px;
  color: #3C444C;
}

.btn-rank {
  background-color: #00D2D2;
  padding: 18px 60px;
  font-weight: 600;

  margin-top: 50px;
}

.btn-rank:hover {
  background-color: #87dada;
}

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #3C444C;
  padding: 40px;

  width: 270px;
  min-height: 470px;
  border-radius: 20px;
  background-color: rgba(0, 210, 173, 0.1);
}

.discover p {
  margin: 0;
  font-weight: 400;
  line-height: 180%;
  color: rgba(60, 68, 76, 0.75);
}

.discover h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 40px;
}

.discover img {
  margin-top: 30px;
  margin-bottom: 70px;
  order: -1;
}

.discover-2 {
  margin-bottom: 50px;
  align-self: flex-start;
}

.discover-1,
.discover-3 {
  align-self: flex-end;
  background-color: rgba(0, 210, 173, 0.05);
}

.discover-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solutions-section {
  display: block;
  margin: 120px 0;
  text-align: center;
}

.solutions-section span {
  font-size: 22px;
  font-weight: 400;
  color: #7F7F7F;
}

.solutions-section h2 {
  margin-top: 10px;
  margin-bottom: 85px;
}

.price-table ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.price-table {
  display: flex;
  justify-content: space-between;
  min-height: 480px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.price-table .pack{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 57px 75px;
  width: 190px;
}

.pricing-section {
  display: block;
  padding-top: 65px;
  padding-bottom: 120px;
  text-align: center;
  color: #fff;
  background: linear-gradient(to left, #00D2D2, #1090F3);
}

.pricing-section h2 {
  color: #fff;
  margin-top: 24px;
  margin-bottom: 80px;
  font-size: 36px;
}

.pricing-section span {
  font-size: 24px;
}

.pack span:nth-of-type(1) {
  font-size: 72px;
  font-weight: 600;
}

.pack h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 400;
}

.pack li {
  margin: 10px;
}

.btn-pricing {
  padding: 16px 55px;
  border: 2px solid rgba(255, 255, 255, 0.5);;

  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-pricing:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
